
@{
    ViewBag.Title = "Procesador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nombre: @ViewBag.nombre </h1>
<h1>Antiguedad: @ViewBag.antiguedad</h1>
<h1>Valor Hora: @ViewBag.Vh</h1>
<h1>Total a Cobrar: @ViewBag.TC</h1>
<h1>Total Descuento: @ViewBag.TDes</h1>
<h1>Total con descuento: @ViewBag.TCDes</h1>



